<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{fragments/header :: header}">
</head>
<body>
<div class="container" >
	    <div class="mt-3">
	        <h2  >Welcome to waylau.com</h2>
	    </div>
		<div class="row">
		    <div class="col-lg-4">
				<div class="input-group">
					<input type="text" class="form-control" id="searchName" placeholder="输入用户名称进行搜索">
					<span class="input-group-btn">
						<button class="btn btn-secondary" type="button" id="searchNameBtn">Go!</button>
					</span>
					<a class="btn btn-primary" href="/users/add" th:href="@{/users/add}" role="button"><i class="fa fa-plus" aria-hidden="true"></i>创建</a>
				</div>
		    </div>
	    </div>	
	    <div id="mainContainer">
		 <div id="mainContainerRepleace">
		    <table class="table table-striped">
		        <thead class="thead-inverse">
		        <tr>
		            <th data-field="id">ID</th>
		            <th data-field="age">账号</th>
		            <th data-field="name">姓名</th>
		            <th data-field="email">邮箱</th>
					<th data-field="authorities">角色</th>
					<th data-field="operation">操作</th>
		        </tr>
		        </thead>
		        <tbody>
		 
		        <tr th:each="each : ${userModel.userlist}">
		            <td th:text="${each.id}">id</td>
		            <td th:text="${each.username}">username</td>
		            <td th:text="${each.name}">name</td>
					<td th:text="${each.email}">email</td>
					<td th:text="${each.authorities}">authorites</td>
					<td>
						<div>
							<a class="blog-edit-user" data-toggle="modal"
							   data-target="#flipFlop" role="button"
							   data-th-attr="userId=${each.id}"> <i
									class="fa fa-pencil-square-o" aria-hidden="true"></i>
							</a> <a class="blog-delete-user" role="button"
									data-th-attr="userId=${each.id}"> <i class="fa fa-times"
																		 aria-hidden="true"></i>
						</a>
						</div>
					</td>
		        </tr>
		        </tbody>
		    </table>
 			<div th:replace="~{fragments/page :: page}">...</div>
	 
	 	</div>
	 </div>
</div><!-- /.container -->

<div th:replace="~{fragments/footer :: footer}">...</div>

<div class="modal fade" id="flipFlop" tabindex="-1" role="dialog"
	 aria-labelledby="modalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="modalLabel">新增/编辑</h4>
				<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>

			</div>
			<div class="modal-body" id="userFormContainer"></div>
			<div class="modal-footer">
				<button class="btn btn-primary" data-dismiss="modal" id="submitEdit">提交</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- JavaScript -->
<script src="../../js/users/main.js" th:src="@{/js/users/main.js}"></script>
</body>
</html>
